* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body{
  height: 100%;
  width: 100%;
}

.parent{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  min-height: 100vh ;
  background-color: #111;
  /* height: 100vh; */
  width: 100%;
  padding: 30px;
}

.card{
  height: 400px;
  width: 300px;
  background-color:#fff ;
  border-radius: 20px;
  padding: 30px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.card .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top img {
  height: 40px;
  width: 40px;
  border-radius:60%;
  border: 2px solid #e01c1c;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  padding: 3px 6px;
  border: 1px solid #dadada;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color : #401717;
}

.center h3{
font-size: 17px;
font-weight: 500;
}

.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2{
  font-size: 20px;
}


.center .tag{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}

.center .tag h4 {
  font-size: 12px;
  color: #111;
  padding: 6px 12px;
  font-weight: 500;
  background-color: #f2f2f2;
  border-radius: 8px;
}



.bottom{
  display: flex;
  align-items: center;  
  justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid #b1b1b1;
}

.bottom button {
  background-color: black;
  color: wheat;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600  ;
}

.bottom h3{
  font-size: 17px;
}

.bottom p{
  font-size: 12px;
  color: #8b8b8b;
}